<header>
  <h1 i18n>Welcome to the Angular Builders Warehouse</h1>
</header>
<img src="../assets/Warehouse-Building.jpg"
     alt="Warehouse building"
     i18n-alt>
<router-outlet></router-outlet>
<article class="card">
  <p>{{ building.date | date:'long' }}</p>
  <p>${{ building.value | number }}<i> {{ building.status }}</i></p>
</article>
<angular-boss-converter amount="100"
                        factor="1.5"></angular-boss-converter>
<hr>
<footer>
  <a href="https://angular.builders"
     target="blank">Angular.Builders: </a>
  <span i18n>a store of resources for developers and software architects.</span>
</footer>
